In [6]:
import pandas as pd
import numpy as np
from SimpleSearchEngine.utility import preprocess_text

In [16]:
document = ['The session started yesterday',
           'It was a NLP Session in Inceptez',
           'In the Session, the mentees are very very curious to learn',
           'The weather is hot',
           'It will rain tommorow after the hot week ',
           'The food is delicious',
           'Do have good food to be healthy',
           'India is entering election on this year',
           'Mentor is connecting from outside to join the session',
           'Russia is in war with ukraine',
           'Dubai is hottest of hottest country ',
           'Sri Lanka is in economic crisis']
label = ['learn', 'learn', 'learn', 'weather', 'weather', 'food', 'food', 'politics',
        'learn', 'politics', 'weather', 'politics']

# document = ['I like cats do you like it',
#             'I like dogs too']
# label = ['animal', 'animal']

In [17]:
data = pd.DataFrame([document, label]).T

In [18]:
data.columns = ['document', 'label']

In [19]:
data

                                             document     label
0                       The session started yesterday     learn
1                    It was a NLP Session in Inceptez     learn
2   In the Session, the mentees are very very curi...     learn
3                                  The weather is hot   weather
4           It will rain tommorow after the hot week    weather
5                               The food is delicious      food
6                     Do have good food to be healthy      food
7             India is entering election on this year  politics
8   Mentor is connecting from outside to join the ...     learn
9                       Russia is in war with ukraine  politics
10               Dubai is hottest of hottest country    weather
11                    Sri Lanka is in economic crisis  politics

In [217]:
data['document'] = data['document'].apply(preprocess_text)

In [218]:
data

        document   label
0  like cat like  animal
1       like dog  animal

# Count Vectorizer -  One Hot

In [219]:
from sklearn.feature_extraction.text import CountVectorizer

In [220]:
cv = CountVectorizer(binary=True)

In [221]:
cv_matrix = cv.fit_transform(data['document']).toarray()

In [222]:
cv.get_feature_names_out()

array(['cat', 'dog', 'like'], dtype=object)

In [223]:
pd.DataFrame(cv_matrix, columns = cv.get_feature_names_out())

   cat  dog  like
0    1    0     1
1    0    1     1

In [225]:
pd.DataFrame(cv_matrix, columns = cv.get_feature_names_out())

   cat  dog  like
0    1    0     1
1    0    1     1

# Bag of Words

In [226]:
from sklearn.feature_extraction.text import CountVectorizer

In [227]:
columns_act

array(['connecting', 'connecting outside', 'country', 'crisis', 'curious',
       'curious learn', 'delicious', 'dubai', 'dubai hottest',
       'dubai hottest hottest', 'economic', 'economic crisis', 'election',
       'election year', 'entering', 'entering election',
       'entering election year', 'food', 'food delicious', 'food healthy',
       'good', 'good food', 'good food healthy', 'healthy', 'hot',
       'hottest', 'hottest country', 'hottest hottest',
       'hottest hottest country', 'inceptez', 'india', 'india entering',
       'india entering election', 'lanka', 'lanka economic',
       'lanka economic crisis', 'learn', 'mentees', 'mentees curious',
       'mentees curious learn', 'mentor', 'mentor connecting',
       'mentor connecting outside', 'nlp', 'nlp session',
       'nlp session inceptez', 'outside', 'rain', 'rain tommorow',
       'russia', 'russia war', 'russia war ukraine', 'session',
       'session inceptez', 'session started', 'session started yesterday',
       'sri', 'sri lanka', 'sri lanka economic', 'started',
       'started yesterday', 'tommorow', 'ukraine', 'war', 'war ukraine',
       'weather', 'weather hot', 'year', 'yesterday'], dtype=object)

In [228]:
cv = CountVectorizer(ngram_range=(1, 3), min_df= 2, binary=False)

In [229]:
cv_matrix = cv.fit_transform(data['document']).toarray()

In [230]:
actual_columns = cv.get_feature_names_out()

In [231]:
modified_columns = pd.DataFrame(cv_matrix, columns = cv.get_feature_names_out()).columns

In [232]:
set(columns_act) - set(modified_columns)

{'connecting',
 'connecting outside',
 'country',
 'crisis',
 'curious',
 'curious learn',
 'delicious',
 'dubai',
 'dubai hottest',
 'dubai hottest hottest',
 'economic',
 'economic crisis',
 'election',
 'election year',
 'entering',
 'entering election',
 'entering election year',
 'food',
 'food delicious',
 'food healthy',
 'good',
 'good food',
 'good food healthy',
 'healthy',
 'hot',
 'hottest',
 'hottest country',
 'hottest hottest',
 'hottest hottest country',
 'inceptez',
 'india',
 'india entering',
 'india entering election',
 'lanka',
 'lanka economic',
 'lanka economic crisis',
 'learn',
 'mentees',
 'mentees curious',
 'mentees curious learn',
 'mentor',
 'mentor connecting',
 'mentor connecting outside',
 'nlp',
 'nlp session',
 'nlp session inceptez',
 'outside',
 'rain',
 'rain tommorow',
 'russia',
 'russia war',
 'russia war ukraine',
 'session',
 'session inceptez',
 'session started',
 'session started yesterday',
 'sri',
 'sri lanka',
 'sri lanka economic',
 'started',
 'started yesterday',
 'tommorow',
 'ukraine',
 'war',
 'war ukraine',
 'weather',
 'weather hot',
 'year',
 'yesterday'}

In [233]:
len(columns_act)

69

In [234]:
len(modified_columns)

1

In [235]:
pd.DataFrame(cv_matrix, columns = cv.get_feature_names_out())

   like
0     2
1     1

In [236]:
#n-grams, min_df, max_df, Binary

# TF-IDF

In [237]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [277]:
tf = TfidfVectorizer()

In [278]:
tf_matrix = tf.fit_transform(data['document']).toarray()

In [279]:
actual_columns = tf.get_feature_names_out()

In [280]:
modified_columns = pd.DataFrame(tf_matrix, columns = tf.get_feature_names_out()).columns

In [281]:
pd.DataFrame(tf_matrix, columns = tf.get_feature_names_out())

        cat       dog      like
0  0.574962  0.000000  0.818180
1  0.000000  0.814802  0.579739

In [244]:
data

        document   label
0  like cat like  animal
1       like dog  animal

In [ ]:
       TF doc 1    TF doc 2     IDF       log(1 + IDF)   TF*IDF Doc1     TF*IDF Doc2
   
like     2/3         1/2        (2+1)/(2+1) = 1     1      0.58                        0.66
cat      1/3         0/2        2/1 = 2     1.5           0.33*1.5         0
dog      0/3         1/2        2/1 = 2     0.47           0               0.5*0.47

In [246]:
        TFIDF doc1    TFIDF Doc 2
like      0.66            0.15
cat       0.52           0
dog       0              0.23

0.47712125471966244

In [285]:
np.log2(2/3)

-0.5849625007211563

In [ ]:
millions of document

In [ ]:
word is in 2 document

In [ ]:
IDF = 1000000/2 = (500000) - Mathematical computation - Resource intensive - Time delayed

# Summary

In [ ]:
1. Crawling
2. robots.txt
3. Data Processing
4. removing non-alpha, stop words, contraction, punctuation, numbers, and removing html tags using Beautiful soup
5. accented, lemmatization, stemming, lowercase conversion, trim spaces, 
6. Tokenization
7. Indexing 
8. Searching - intersection and union
9. Implemented - python
10. Streamlit simple search engine
11. Text to Numbers
12. Count Vectorizer
13. Bag of Words
14. TF-IDF 

To be covered
15. Cosine Similarity -  Ecludian Distance - Use case
16. Text Recommendation Engine
17. Document Similarity


18. Word Embeddings

In [ ]:
POS - parts of speech
NER - Named entity recognition

In [ ]:
200000 doc

100 words

20000000 vectors

word2vec
    1 2 3  ...   100
doc1 . . . . . . . .   - vec for a document
doc2
.
.
doc200000


doc2vec

doc vector 20000